{{define "extra_css"}}
    <link rel="stylesheet" href="static/css/home.css">
{{end}}
{{define "content"}}
<div class="container">
    <div class="welcome">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quibusdam numquam soluta ex repellat voluptas, ad quisquam, amet, sequi ipsam esse in omnis beatae impedit ullam est ratione quidem excepturi.
        Asperiores sequi nemo, eius obcaecati molestias necessitatibus. Et vero perferendis minima cumque molestiae nisi in dignissimos recusandae eaque, rerum inventore laboriosam a odit expedita ut, nobis autem esse. Iste, corporis.
        Ad optio ab totam maiores iure quasi possimus laborum vitae non adipisci amet cupiditate, nisi molestias harum exercitationem dolorem porro aut excepturi repudiandae. Officia quia doloribus natus sit explicabo saepe!
        Molestiae, error ad nisi sint iure consequuntur minima deserunt libero ratione at modi commodi debitis suscipit harum natus. Aliquam necessitatibus maiores esse accusantium quibusdam accusamus? Quo, minima. Nisi, reprehenderit laborum?
        Atque ipsum eius sapiente corrupti voluptas recusandae eligendi in ipsam commodi, rem corporis et ullam eaque error ipsa magni deserunt tempore dignissimos. Doloribus accusantium culpa distinctio non excepturi, numquam perferendis?</p>
    </div>
</div>
{{end}}